/*Configuracion general*/
body {
  background-color: #F5F7FA;
}

/*Fuentes*/
@font-face {
  font-family: 'Nokio';
  src: url(/assets/font/NokioMedium.ttf);
  font-weight: normal;
  font-style: normal;
}

.nokio {
  font-family: 'Nokio';
}

/*Logo*/
.format-logo {
  width: 10px;
  height: 10px;
  align-items: center;
}

.formato-div-logo {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid #DF923A;
  border-radius: 55%;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.logo {
  color: #ffffff;
  text-decoration:none;
}

.logo:hover{
  color: #ffffff;
}

/* buscador*/
.navbar-buscador {

  display: flex;
  align-items: center;
  padding-top: 20px;
  
}

/*Barra de navegacion*/


.titulo-nav {
  margin-left: 70px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: 'Nokio', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}



.rol-nav {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: 'Nokio', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


  
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

  .contenedores {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    margin: 20px;
  }

  

  #imgEvento-1 {
    width: 15vw;
  }

  .contenedor-1 {
    
   
    align-items: center;
    text-align: center;
    width:20%;
    height: 10%;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
    
  }

  .contenedor-1 div {
    background-color: #0069d9;
    color: white;
    text-align: left;
    padding-bottom: 10px;
  }

  .contenedor-1 h3 {
    text-align: center;
  }

  .contenedor-2 {
    
  
    align-items: center;
    text-align: center;
    width:20%;
    height: 10%;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
  }

  .contenedor-2 div {
    background-color: #0069d9;
    color: white;
    text-align: left;
    padding-bottom: 10px;
  }

  .contenedor-2 h3 {
    text-align: center;
  }
 
  .contenedor-3 {
    
  
    align-items: center;
    text-align: center;
    width:20%;
    height: 10%;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
  }

  .contenedor-3 div {
    background-color: #0069d9;
    color: white;
    text-align: left;
    padding-bottom: 10px;
  }

  .contenedor-3 h3 {
    text-align: center;
  }

  .contenedor-4 {
    
  
    align-items: center;
    text-align: center;
    width:20%;
    height: 10%;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
  }

  .contenedor-4 div {
    background-color: #0069d9;
    color: white;
    text-align: left;
    padding-bottom: 10px;
  }

  .contenedor-4 h3 {
    text-align: center;
  }
  