/*Configuracion general*/
body {
    background-color: #F5F7FA;
}

/*Fuentes*/
@font-face {
    font-family: 'Nokio';
    src: url(../font/NokioMedium.ttf);
    font-weight: normal;
    font-style: normal;
}

.nokio {
    font-family: 'Nokio';
}

/*Logo*/
.format-logo {
    width: 20px;
    height: 20px;
    align-items: center;
}

.formato-div-logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 3px solid #DF923A;
    border-radius: 55%;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

/*Barra de navegacion*/
.navbar {
    padding: 2rem;
    background-color: #0A6D94;
    height: 80px;
    text-align: left;
    border-bottom: 5px solid #DF923A;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.titulo-nav{
        margin-left: 70px;
        margin-top: 10px;
        position: absolute;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        font-family: 'Nokio', 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
}

/*Seccion login*/
.login-div{
    text-align: center;
    padding: 50px 20px 150px 20px;
    margin-top: 50px;
    max-width: 800px;
    position: relative;
    border: solid 5px #df923a;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #0a6d94;
    border-radius: 2.5rem 0 2.5rem 0;
    flex-shrink: 1;
}

.login-titulo{
    text-align: center;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family:'Nokio', 'Source Sans Pro';
    white-space: nowrap;
}