<!DOCTYPE html>
<html>
<head>
  <title>Página de boletos</title>
  <!--Supabase-->
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js"></script>
</head>
<body>
  <div id="qr-container"></div>
  <script>
    // Obtén el ID del boleto (puedes obtenerlo de tu base de datos)
    const boletoId = '123456789';

    // Crea la URL de la página de información del boleto
    const url = 'http://127.0.0.1:5502/views/general/prueba-boleto.html?id=' + boletoId;

    // Crea el objeto QRCode con la URL del boleto
    const qr = qrcode(0, 'L');
    qr.addData(url);
    qr.make();

    // Ajusta el tamaño del código QR
    const tamañoQR = 250; // Tamaño en píxeles
    const tamañoModulo = Math.floor(tamañoQR / qr.getModuleCount());

    // Genera el código QR como una imagen en base64
    const imagenQR = qr.createDataURL(tamañoModulo);

    // Muestra el código QR en la página
    const qrContainer = document.getElementById('qr-container');
    const img = document.createElement('img');
    img.src = imagenQR;
    img.width = tamañoQR;
    img.height = tamañoQR;
    qrContainer.appendChild(img);
  </script>
</body>
</html>
