<!DOCTYPE html>
<html>
<head>
  <title>Página de boletos</title>
  <!--Supabase-->
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js"></script>
</head>
<body>
  <div id="qr-container"></div>
  <script>
    // Obtén el ID del boleto (puedes obtenerlo de tu base de datos)
    const boletoId = '123456789';

    // Crea la URL de la página de información del boleto
    const url = 'http://127.0.0.1:5502/views/general/prueba-boleto.html?id=' + boletoId;

    // Crea el objeto QRCode con la URL del boleto
    const qr = qrcode(0, 'L');
    qr.addData(url);
    qr.make();

    // Genera el código QR como una imagen en base64
    const imagenQR = qr.createDataURL();

    // Muestra el código QR en la página
    const qrContainer = document.getElementById('qr-container');
    const img = document.createElement('img');
    img.src = imagenQR;
    qrContainer.appendChild(img);

    // Función para obtener el ID del boleto desde la URL
    function obtenerIdBoletoDesdeURL() {
      const parametros = new URLSearchParams(window.location.search);
      return parametros.get('id');
    }

    // Obtén el ID del boleto escaneado y redirige a la página de información del boleto
    const idBoletoEscaneado = obtenerIdBoletoDesdeURL();
    if (idBoletoEscaneado) {
      const urlInformacionBoleto = 'https://tusitio.com/informacion-boleto?id=' + idBoletoEscaneado;
      window.location.href = urlInformacionBoleto;
    }
  </script>
</body>
</html>
