<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="col-12 col-md-4">
        <div class="card card-img-height" style="width: 18rem;">
          <img src="-------" class="card-img-top" alt="imagen-evento">
          <div class="card-body">
            <h5 class="card-title">ANIME-CON</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Fecha: 18/07/2023</li>
              <li class="list-group-item">Entrada: $110</li>
              <li class="list-group-item">Estado: desplegado</li>
              <li class="list-group-item">Tipo de evento: Privado</li>
            </ul>
            <a id="evento" href="/views/admin/AdministrarEventoDesplegado.html" class="btn btn-primary">Ver Evento</a>
          </div>
        </div>
      </div>

</body>
</html>